/* CSS Document */

.in-benefits{
	height:270px !important;
	overflow:hidden;
}

.screenshots ul li{
	background-image:url(../images/in-screenshots-background.gif);
	margin-bottom:10px;
}

.in-clients{
	height:194px;
}

.ge-copyright{
	height:auto !important;
	margin-top:0px !important;
}

.ge-phone{
	height:auto;
	margin-top:18px;
}