#set($bodyWidth = $pixelWidth - $pixelMarginLeft)
#set($bodyWidth = $bodyWidth - $pixelMarginRight)
#set($bodyWidth = $bodyWidth - 5)
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Invoice</title>
        <style>
            @page { 
                size: ${pageWidth}mm ${pageHeight}mm;
                margin: ${pageMarginTop}mm ${pageMarginRight}mm ${pageMarginBottom}mm ${pageMarginLeft}mm; 
            }


            .left{
                text-align: left;
            }

            .right{
                text-align: right;
            }

            .header table,
            .details table,
            .ordercontent table{
                width:100%;
               border-spacing: 0px;

            }



            .details table{
                margin-top: 60px;
                margin-bottom: 30px;

            }

            .details td {
                padding-right:4px;
            }

            .ordercontent table{
                 -fs-table-paginate: paginate;
            }

            

            .ordercontent th,
            .ordercontent td
            {
                padding-top: 4px;
                padding-bottom: 4px;
                padding-right:4px;
            }

            td{
                font-size:10px;
            }
            
            th{
                color:#4f4f4f;
                text-transform: uppercase;
                font-size:10px;
}

            .header table td{
                padding:0px;

            }

            .logo{
                font-size:24px;
                font-family:helvetica;
                color:#6f6f6f;
                line-height:60px;
            }

            body{
                font-size:10px;
                font-family: helvetica;
                width:${bodyWidth}px;
                /*margin-top: ${pixelMarginTop}px;
                margin-right: ${pixelMarginRight}px;
                margin-bottom: ${pixelMarginBottom}px;
                margin-left: ${pixelMarginLeft}px;*/
                padding: 0px;
                margin:0px;
            }

            .title{
                font-size:20px;
            }

            .details .title{
                vertical-align: top;
            }

            .noborders{
               border:0px;
            }

            .orderlinetableline{
                border-bottom:1px solid #5f5f5f;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <table>
                 <tr>
                    <td></td>
                    <td class="logo right">$tool.html($organisation.getCompanyName())</td>
                </tr>
                <tr>
                    <td><!--$companyname-->#if($order.getBuyer().getCompanyName())$tool.html($order.getBuyer().getCompanyName())#end</td>
                    <td class="right">#if($organisation.getCompanyRegistration())$tool.html($resource.getString("vatno")): $tool.html($organisation.getCompanyRegistration())#end</td>
                </tr>
                <tr>
                    <td><!--$contact-->#if($order.getBuyer().getContactName())Att: $tool.html($order.getBuyer().getContactName())#end</td>
                    <td class="right">#if($organisation.getStreet())$tool.html($organisation.getStreet())#end</td>
                </tr>
                <tr>
                    <td><!--$customeraddress-->#if($order.getBuyer().getStreet())$tool.html($order.getBuyer().getStreet())#end</td>
                    <td class="right">#if($organisation.getPostalCode())$tool.html($organisation.getPostalCode())#end #if($organisation.getCity())$tool.html($organisation.getCity())#end</td>
                </tr>
                <tr>
                    <td><!--$customerzip $customercity-->#if($order.getBuyer().getPostalCode())$tool.html($order.getBuyer().getPostalCode())#end #if($order.getBuyer().getCity())$tool.html($order.getBuyer().getCity())#end</td>
                    <td class="right"></td>
                </tr>

                #if($organisation.getTelephone())
                <tr>
                    <td></td>
                    <td class="right">$tool.html($resource.getString("phone")): $tool.html($organisation.getTelephone())</td>
                </tr>
                #end

                #if($organisation.getBankAccount())
                <tr>
                    <td></td>
                    <td class="right">$tool.html($resource.getString("bank")): $tool.html($organisation.getBankAccount())</td>
                </tr>
                #end

                #if($organisation.getEmail())
                <tr>
                    <td></td>
                    <td class="right">$tool.html($resource.getString("email")): $tool.html($organisation.getEmail())</td>
                </tr>
                #end

                #if($organisation.getWeb())
                <tr>
                    <td></td>
                    <td class="right">$tool.html($resource.getString("web")): $tool.html($organisation.getWeb())</td>
                </tr>
                #end

            </table>
        </div>

        <div class="details">
            <table>
                 <tr>
                     <td class="title" rowspan="4">$tool.html($resource.getString("invoice"))</td>
                    <td class="right">$tool.html($resource.getString("invoice_number")): $order.getInvoiceNumber()</td>
                </tr>
                 <tr>
                    <td class="right">$tool.html($resource.getString("order_number")): $order.getNumber()</td>
                </tr>
                <tr>
                    <td class="right">$tool.html($resource.getString("invoice_date")): #if($order.getDateInvoiced())$tool.html($df.format($order.getDateInvoiced()))#end</td>
                </tr>
                <tr>
                    <td class="right">$tool.html($resource.getString("due_date")): #if($order.getDateTimelyPayment())$tool.html($df.format($order.getDateTimelyPayment()))#end</td>
                </tr>


            </table>
        </div>

        <div class="ordercontent">
            <table>
                <thead>
                    <tr>
                        <th class="left orderlinetableline">$tool.html($resource.getString("text"))</th>
                        <th class="right orderlinetableline">$tool.html($resource.getString("quantity"))</th>
                        <th class="left orderlinetableline">$tool.html($resource.getString("unit"))</th>
                        <th class="right orderlinetableline">$tool.html($resource.getString("discount"))</th>
                        <th class="right orderlinetableline">$tool.html($resource.getString("price"))</th>
                        <th class="right orderlinetableline">$tool.html($resource.getString("amount"))</th>

                    </tr>
                </thead>
                #foreach($orderline in $orderlines)
                <tr>
                        <td class="orderlinetableline">$tool.html($orderline.title)</td>
                        <td class="right orderlinetableline">$nf.format($orderline.quantity)</td>
                        <td class="left orderlinetableline">$tool.html($resource.getString("pcs"))</td>
                        <td class="right orderlinetableline">$pf.format($orderline.getDiscountPercentage())</td>
                        <td class="right orderlinetableline">$cf.format($orderline.getPrice())</td>
                        <td class="right orderlinetableline">$cf.format($orderline.getTotal())</td>

                    </tr>
        #end
 

                <tr>
                        <td colspan="4" class="noborders"></td>
                        <td class="left orderlinetableline">$tool.html($resource.getString("net")):</td>
                        <td class="right orderlinetableline">$cf.format($order.getTotal())</td>
                    </tr>
                    #foreach($tax in $order.taxList)

                                <tr>
                        <td colspan="4" class="noborders"></td>
                        <td class="left orderlinetableline">$tool.html($tax.name):</td>
                        <td class="right orderlinetableline">$cf.format($order.getTotalTax($tax))</td>
                    </tr>
                    #end

                    #set( $totalIncTax = $order.getTotal() + $order.getTotalTax())
                    <tr>
                        <td colspan="4" class="noborders"></td>
                        <td class="left orderlinetableline">$tool.html($resource.getString("total")):</td>
                        <td class="right orderlinetableline">$cf.format($totalIncTax)</td>
                    </tr>
            </table>
        </div>
    </body>
</html>
