DATE;ORDERNUMBER;ITEMNO;DESCRIPTION;CURRENCY;TOTAL;TOTALINCVAT;TAXCODE;TAXRATE;ACCOUNT;OFFSETACCOUNT
##Loop over all orders
#foreach($order in $orderlist)
##
##Set the last orderline index for the current order
#set($lastindex=$order.getOrderLineCount() - 1)
##
##Only print line if lastindex is not less than 0
#if($lastindex>=0)
#foreach($count in [0..$lastindex])
##
##Get the current orderline
#set($orderline=$order.getOrderLine($count))
#if($orderline.getPrice()!=0)
##
##Set vars
#set($itemno="")
#set($total=$orderline.getTotal())
#set($totalinctax=$total+$orderline.getTotalTax())
#set($taxrate=0)
#set($taxcode="")
#if($orderline.getItemNo())
#set($itemno=$orderline.getItemNo())
#end
#if($orderline.getTax())
#set($taxref=$orderline.getTax().getId())
#set($taxrate=$orderline.getTax().getRate())
#set($taxcode="S"+$orderline.getTax().getRate())
#end
##
##print line
$dateformatter.format($order.getDateChanged());$order.getNumber();"$itemno";"$orderline.getQuantity()X$orderline.getTitle()";"$order.getCurrency()";$decimalformatter.format($total);$decimalformatter.format($totalinctax);"$taxcode";$taxrate;$account;$offsetaccount
#end
#end
#end
#end