<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Receipt for $order.getNumber()</title>
        <style type="text/css">
                @page {
                    size: ${pageWidth}mm ${pageHeight}mm;
                    margin: 0.0mm;
                }

                body{
                    font-family:verdana;
                    font-size:8px;
                    width:${pixelWidth}px;
                    margin:0px;
                    padding: ${pixelMarginTop}px ${pixelMarginRight}px ${pixelMarginBottom}px ${pixelMarginLeft}px;
                }

                .addresslabel{
        		text-align:center;
        		margin: 5px 5px 10px 5px;
                        width:100%;
                        overflow:hidden;
                        font-size:16px;

        	}

                .addresslabel div{
                }

        	.datelabel{
        	}

        	.orderNolabel{
                    text-align:right;
        	}

        	.header{
                    margin-bottom:4px;
                    width:100%;
                    border-bottom:1px solid black;
        	}

                .lines{
                    width:100%;
                    table-layout:fixed;
                }

        	.orderline_title{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

        	.orderline_total{
                    text-align:right;
                    width:40px;
                }

        	.receiptNote{
                    margin:10px 5px;
                    text-align:center;
        	}

        </style>
    </head>
    <body>
    
    	<div class="addresslabel">
    		<div>$tool.html($organisation.getName())</div>
    		<div>$tool.html($organisation.getStreet())</div>
       		<div>$tool.html($organisation.getPostalCode()) $tool.html($organisation.getCity())</div>
        </div>

        <table class="header" cellpadding="0" cellspacing="0">
            <tr>
                <td class="datelabel">Dato: $df.format($order.getDateChanged())</td>
                <td class="orderNolabel">Ordrenr: $order.getNumber()</td>
            </tr>
        </table>


        <table class="lines" cellpadding="0" cellspacing="0">
        #foreach($orderline in $orderlines)
            <tr>
                <td class="orderline_title"><div class="orderline_title">$nf.format($orderline.quantity) x $tool.html($orderline.title)</div></td>
                <td class="orderline_total">$cf2.format($orderline.getTotal())</td>
            </tr>
        #end
        </table>
        #if($organisation.getReceiptNote())
        <div class="receiptNote">$tool.html($organisation.getReceiptNote())</div>
        #end
    </body>
</html>
