.v-box .v-panel-caption,
.v-box .v-panel-nocaption
{
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background-color: #C4C5C8;
    border-bottom: 1px solid #e5e5e5;
    line-height: 25px; /* accommodate minimum icon size */
}

.v-box .v-panel-content {
    background-color: #EDEDEF;
}