/* CSS Document */

/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Vuu Media
*   Date:    10 December 2010
*   Web:     http://www.vuu.com.au
*   Email:   info@vuu.com.au
*   Version: 1.0
* 
*************************************************************************/

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

/*-----------------------------------------------------------------------
Fonts
------------------------------------------------------------------------*/

h1{
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size:24px;
    line-height:30px;
    color:#ffffff;
    text-shadow:0px 1px 0px #000000;
}

h2{
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size:16px;
    color:#1c6285;
    line-height:20px;
}

h3{
    color:#4b4b4b;
    font-size:20px;
    line-height:26px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:normal;
}

h4{
    font-family: 'Open Sans', serif;
    font-weight: 400;
    color:#dadada;
    font-size:18px;
    line-height:24px;
    text-shadow:0px 1px 0px #000000;
    padding-bottom:8px;
}

p{
    line-height:20px;
}

a{
    color:#3399cc;
    text-decoration:underline;
}

a:hover{
    text-decoration:none;
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

body, html{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    background-color:#ffffff;
    color:#505353;
}

#in-splash-container{
    width:100%;
    height:423px;
    margin:0px auto;
    background-color:#c6c3be;
    background-image:url(../images/in-splash-background.jpg);
    background-position:top center;
    background-repeat:no-repeat;
}

#in-splash-container-small{
    width:100%;
    height:132px;
    margin:0px auto;
    background-color:#c6c3be;
    background-image:url(../images/in-splash-background-small.jpg);
    background-position:top center;
    background-repeat:no-repeat;
    border-bottom:1px solid #5f5f5f;
}

.in-splash{
    width:950px;
    height:423px;
    margin:0px auto;
}

.in-splash-content{
    width:950px;
    height:332px;
    position:relative;
    float:left;
    padding-top:91px;
}

.in-splash-left{
    width:450px;
    height:221px;
    position:relative;
    float:left;
    padding-top:15px;
}

.in-splash-left ul{
    margin-top:26px;
}

.in-splash-left ul li{
    list-style-type:none;
    width:215px;
    height:22px;
    line-height:22px;
    position:relative;
    float:left;
    color:#ffffff;
    text-shadow:0px 1px 0px #393631;
}

.in-splash-right{
    width:460px;
    height:283px;
    position:relative;
    float:right;
    padding:15px 4px 0px 6px;
}

.in-splash-buttons{
    width:311px;
    height:56px;
    position:absolute;
    top:340px;
    left:0px;
}

.splash-button{
    width:131px;
    height:42px;
    position:relative;
    float:left;
    background-image:url(../images/in-splash-button.gif);
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-align:center;
    line-height:42px;
    font-size:18px;
    font-weight:bold;
    color:#ffffff;
    text-shadow:0px 1px 0px #294600;
    margin-left:8px;
    margin-top:6px;
}

.splash-button a{
    width:100%;
    height:100%;
    text-decoration:none;
    display:block;
    color:#ffffff;
}

.splash-button a:hover{
    background-image:url(../images/in-splash-button.gif);
    background-repeat:no-repeat;
    background-position:0px -42px;
}

.splash-button a:active{
    background-image:url(../images/in-splash-button.gif);
    background-repeat:no-repeat;
    background-position:0px -84px;
}

.splash-link{
    width:132px;
    height:56px;
    position:relative;
    float:right;
    line-height:52px;
    font-size:18px;
    font-weight:bold;
    color:#ffffff;
    text-shadow:0px 1px 0px #000000;
}

.splash-link a{
    color:#ffffff;
    text-decoration:none;
}

.splash-link a:hover{
    color:#bbbbbb;
    text-decoration:none;
}

#ge-header-container {
    position:absolute;
    top:0px;
}


#ge-header-container, .ge-header-container{
    width:100%;
    height:56px;
    margin:0px auto;
    background-image:url(images/ge-header-background.png);
    background-position:top center;
    background-repeat:repeat-x;
    
}

.ge-header{
    width:950px;
    height:56px;
    margin:0px auto;
}

.ge-logo{
    width:153px;
    height:35px;
    position:relative;
    float:left;
    margin-top:10px;
}

.ge-userinfo div[role=button] {
    display:block;
}

.ge-userinfo div[role=button]:hover,
.ge-userinfo div[role=button]:hover span{
    text-decoration:underline;
    color: white;
    
}


.ge-userinfo span,
.ge-userinfo a:visited span,
.ge-userinfo div[role=button] span {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 1px 1px #3f3f3f;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    color: #dadada;
    text-decoration: none;
}

.ge-userinfo {
    height:32px;
    float:left;
    border-left:1px solid #9a9a9a;
    padding-left:20px;
    padding-right:20px;
    vertical-align: middle;
    margin-top:10px;
}

.ge-userinfo span {
    padding-right: 16px;
    background: transparent url(../images/linkarrow.png) no-repeat center right;
}

.ge-userinfo a {
    text-decoration:none;
    color: #dadada;
}

.ge-userinfo a:hover span,
.ge-userinfo a span,
.ge-userinfo a:link span,
.ge-userinfo a:visited span {
    color: #dadada;
}

.ge-userinfo a:hover span {
    color: white;
    text-decoration:underline;
}

.ge-navigator-container {
    position: absolute;
    top: 56px;
    width:100%;
    height:24px;
    margin:0px auto;
    background-image:url(../images/ge-navigator-background.png);
    background-position:top center;
    background-repeat:repeat-x;
    border-bottom : 1px solid #3f3f3f;
    -moz-box-shadow: 0px 1px 5px #4f4f4f;
    -webkit-box-shadow: 0px 2px 5px #4f4f4f;
    box-shadow: 0px 4px 15px #4f4f4f;
    opacity:0.9;

}

.ge-navigator {
    width: 950px;
    height: 24px;
    margin: 0px auto;
    padding-top:2px;
}


.ge-navigator-link span{
    color: black;
    text-decoration: none;

    vertical-align: middle;
    text-shadow: 0 1px 0 #8F9193;
    font-size: 12px;
    line-height: normal;

    cursor: auto;
    font-family: helvetica, arial, verdana, sans-serif;
}

.ge-navigator-link a {
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 0 #8F9193;
    font-size: 12px;
    line-height: normal;
    padding-top: 3px;
    height:17px;
    display: block;
    float: left;
    vertical-align: middle;
    cursor: auto;
    display: block;
}

.ge-navigator-link a:hover {
    text-decoration: underline;
}

.ge-navigator .ge-navigator-link-current a{
    height: 18px;
    padding-top: 3px;
    background: transparent url(../images/ge-navigator-current-right.png) no-repeat right top;
    font-weight: bold;
    padding: 2px 8px 0 0;
    cursor: default;

    text-decoration: none;
    vertical-align: middle;
}




.ge-navigator-link-current {
    padding: 0 0 0 9px;
    background: transparent url(../images/ge-navigator-current-left.png) no-repeat;
}

.ge-navigator-link {
    display:block;
    height:20px;
    float:left;
    line-height: normal;
}

.ge-navigator-link-current a:link span,
.ge-navigator-link-current a:visited span {
    color: #C2C4C6;
    text-decoration: none;

    vertical-align: middle;
    font-weight: bold;
    cursor: default;

    text-shadow: 0 1px 0 #3A3D43;

    line-height: normal;
    font-family: helvetica, arial, verdana, sans-serif;

}

.ge-navigator-space {
    width:20px;
    float:left;
}



.ge-phone span,
.ge-phone a:hover span,
.ge-phone a:visited span,
.ge-phone a:link span {

    font-family: 'Open Sans', serif;
    color:#ffffff;
    font-size:20px;
    line-height:normal;
    text-shadow:0px 1px 0px #000000;
    text-align:right;
    text-decoration:none;
    
}

.ge-phone {
    
    width:220px;
    height:35px;
    position:relative;
    float:right;
    margin-top:14px;
}

.ge-phone a {
    text-decoration:none;
    color:white;
}

#in-benefits-container{
    width:100%;
    height:auto;
    margin:0px auto;
    background-color:#f7f7f7;
    background-image:url(../images/in-benefits-background.gif);
    background-repeat:repeat-x;
    background-position:top center;
}

.in-benefits{
    width:950px;
    height:auto;
    margin:0px auto;
    padding-top:52px;
}

.in-benefits ul{
    width:950px;
    height:auto;
    position:relative;
    float:left;
}

.in-benefits ul li{
    list-style-type:none;
    width:310px;
    height:auto;
    position:relative;
    float:left;
    margin-bottom:44px;
    padding-right:10px;
}

.in-benefits ul li.endbenefits{
    padding-right:0px;
}

.in-benefits input[type=text],
.in-benefits input[type=password] {
    height: 22px;
    border: 1px solid #9F9F9F;
    border-radius: 2px;
}

.in-benefits h1 {
    color:black;
    text-shadow: 0px 1px 0px #9f9f9f;
}

.benefits-icon{
    width:70px;
    height:70px;
    position:relative;
    float:left;
}

.benefits-text{
    width:240px;
    height:auto;
    position:relative;
    float:right;
}

ul.in-more{
    padding-top:6px;
    width:auto;
    height:22px;
    position:relative;
    float:left;
    overflow:hidden;
}

.in-more li{
    position:relative;
    float:left;
    padding:0px 10px 10px 10px;
    background-image:url(../images/in-benefits-divider.gif);
    background-repeat:no-repeat;
    background-position:left 4px;
    list-style-type:none;
    line-height:16px;
    height:16px;
    width:auto !important;
    padding-bottom:0px;
}

.in-more li.morestart{
    background-image:none;
    padding-left:0px;
}

#in-testimonials-container{
    width:100%;
    height:64px;
    margin:0px auto;
    border-top:1px solid #dcdcdc;
    padding-top:20px;
    padding-bottom:21px;
}

ul.in-testimonials{
    width:950px;
    height:64px;
    margin:0px auto;
    overflow:hidden;
}

.in-testimonials li{
    list-style-type:none;
    height:64px;
    width:950px;
    position:relative;
    float:left;
}

.testimonial-logo{
    width:138px;
    height:52px;
    position:relative;
    float:left;
    background-image:url(../images/in-testimonials-logo-background.gif);
    background-position:top center;
    background-repeat:no-repeat;
    padding:6px;
}

.testimonial-text{
    width:770px;
    height:62px;
    position:relative;
    float:left;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    color:#355362;
    line-height:26px;
    padding-top:4px;
    margin-left:30px;
}

#in-quote-container{
    width:100%;
    height:355px;
    margin:0px auto;
    background-color:#fffac7;
    border-top:1px solid #c3c3c3;
    background-image:url(../images/in-quote-background.gif);
    background-repeat:repeat;
    background-position:top center;
}

.in-quote{
    width:950px;
    height:320px;
    margin:0px auto;
    padding-top:35px;
}

.quote-text{
    width:180px;
    height:290px;
    position:relative;
    float:left;
}

.quote-text h2{
    color:#bd574b;
    margin-bottom:10px;
}

.quote-form{
    width:375px;
    height:246px;
    position:relative;
    float:left;
    background-image:url(../images/in-form-background.png);
    background-repeat:no-repeat;
    background-position:top center;
    margin-left:18px;
    padding:22px;
}

.form-left{
    width:182px;
    height:auto;
    position:relative;
    float:left;
    margin-bottom:16px;
}

.form-right{
    width:182px;
    height:auto;
    position:relative;
    float:right;
    margin-bottom:16px;
}

.screenshots{
    width:310px;
    height:auto;
    position:relative;
    float:right;
}

.screenshots ul li{
    list-style-type:none;
    width:138px;
    height:76px;
    position:relative;
    float:left;
    background-image:url(../images/in-screenshots-background.png);
    background-repeat:no-repeat;
    background-position:top center;
    margin-right:10px;
    margin-bottom:12px;
    padding:6px;
}

.screenshots ul li.endscreenshot{
    margin-right:0px;
}

.in-screenshots-view{
    width:19px;
    height:19px;
    position:absolute;
    top:-6px;
    right:-4px;
}

#in-clients-container{
    width:100%;
    height:247px;
    margin:0px auto;
    border-top:1px solid #c3c3c3;
}

.in-clients{
    width:950px;
    height:247px;
    margin:0px auto;
    text-align:center;
    padding-top:37px;
}

.in-clients ul{
    width:950px;
    height:76px;
    position:relative;
    margin-top:32px;
}

.in-clients ul li{
    list-style-type:none;
    width:116px;
    height:64px;
    position:relative;
    float:left;
    background-image:url(../images/in-clients-logo-background.gif);
    background-position:top center;
    background-repeat:no-repeat;
    margin-right:9px;
    padding:6px;
}

.in-clients ul li.endclients{
    margin-right:0px;
}


#ge-footer-container{
    width:100%;
    height:208px;
    margin:0px auto;
    background-color:#35383c;
    background-image:url(../images/ge-footer-background.gif);
    background-repeat:repeat-x;
    background-position:top center;
}

.ge-footer{
    width:950px;
    height:178px;
    margin:0px auto;
    padding-top:30px;
}

.ge-calltoaction{
    width:790px;
    height:auto;
    position:relative;
    float:left;
}

.ge-calltoaction p{
    color:#8c8c8c;
}

.ge-calltoaction-button{
    width:129px;
    height:41px;
    position:relative;
    float:right;
    background-image:url(../images/in-footer-button.gif);
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-align:center;
    line-height:41px;
    font-size:18px;
    font-weight:bold;
    color:#ffffff;
    text-shadow:0px 1px 0px #294600;
    margin-top:30px;
}

.ge-calltoaction-button a{
    color:#ffffff;
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
}

.ge-calltoaction-button a:hover{
    background-image:url(../images/in-footer-button.gif);
    background-repeat:no-repeat;
    background-position:0px -41px;
}

.ge-calltoaction-button a:active{
    background-image:url(../images/in-footer-button.gif);
    background-repeat:no-repeat;
    background-position:0px -82px;
}

.ge-copyright{
    width:950px;
    height:80px;
    position:relative;
    float:left;
    border-top:1px solid #45494d;
    margin-top:32px;
}

ul.copyright{
    position:relative;
    float:left;
    font-size:11px;
    color:#606060;
    padding-top:14px;
    line-height:16px;
}

.copyright li{
    list-style-type:none;
    width:auto;
    position:relative;
    float:left;
    border-left:1px solid #505353;
    padding-right:10px;
    padding-left:10px;
}

.copyright li.copyrightstart{
    padding-left:0px;
    border-left:none;
}

.copyright li a{
    color:#ababab;
    text-decoration:none;
}

.copyright a:hover{
    color:#ffffff;
    text-decoration:none;
}

ul.socialmedia{
    position:relative;
    float:right;
    padding-top:14px;
}

.socialmedia li{
    list-style-type:none;
    position:relative;
    float:left;
    margin-left:7px;
}

/*-----------------------------------------------------------------------
Forms
------------------------------------------------------------------------*/

#in-quote-form input{
    width:172px;
    height:28px;
    border:1px solid #d4cf98;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:28px;
    color:#8a8446;
    padding:0px 4px 0px 4px;
    background-image:url(../images/in-quote-background.gif);
    background-repeat:repeat;
    background-position:top left;
    margin-top:4px;
}

#in-quote-form textarea{
    width:364px;
    height:104px;
    border:1px solid #d4cf98;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:18px;
    color:#8a8446;
    padding:4px;
    background-image:url(../images/in-quote-background.gif);
    background-repeat:repeat;
    background-position:top left;
    margin-top:4px;
}

#in-quote-form label{
    font-weight:bold;
    color:#505353;
    width:100%;
}

#in-quote-form label span{
    color:#c7594c;
}

#in-quote-form button{
    width:79px;
    height:26px;
    position:relative;
    float:right;
    cursor:pointer;
    background-image:url(../images/in-quote-button.gif);
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    text-shadow:0px 1px 0px #823d35;
    text-transform:uppercase;
    line-height:normal;
}

#in-quote-form button:hover{
    background-image:url(../images/in-quote-button.gif);
    background-position:0px -26px;
}

#in-quote-form button:active{
    background-image:url(../images/in-quote-button.gif);
    background-position:0px -52px;
}

.button-standard,.button-small {
    display: inline-block;
    border: 1px solid #CCC;
    background: #ECECEC url(../images/button-standard-background.png) center repeat-x;
    color: #2E3436;
    text-shadow: 0 1px 0 white;
    text-decoration: none;
    -webkit-transition: background-position 100ms linear;
    -moz-transition: background-position 100ms linear;
    transition: background-position 100ms linear;
    -moz-box-shadow: inset 0 1px 0 white;
    -webkit-box-shadow: inset 0 1px 0 white;
    outline: none;
    
}

.button-standard {
    padding: 0 14px;
    font-size:11px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    line-height: 1.8;
}

.button-small {
    padding: 0 10px;
    font-size:9px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    line-height: 1.4;

}

.button-standard:hover, .button-small:hover {
    background-position: top;
    color: #000;
}
.button-standard:visited, .button-small:visited {
    color: inherit;
}
.button-standard:active, .button-small:active {
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    background-position: bottom;
}

/*** TABLE ***/
.table-minimalistic {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px 0px 20px 0px;
}

.table-minimalistic th{
    border-bottom: 2px solid #6678B1;
    padding: 10px 8px;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 16px;
    color: #1C6285;
    line-height: 20px;
}

.table-minimalistic td{
    color: #447;
    padding: 9px 8px 1px;
}

.table-minimalistic-lined td,
.table-minimalistic td.lined{
    border-bottom: 1px solid #CCC;
}

.table-minimalistic td a{
    color: inherit;
    text-decoration:none;
}

.table-minimalistic tbody tr:hover td {
    color: #004;
}



/** ICONS **/
[icon=hyperlink] {
    padding-right: 16px;
    background: transparent url(../images/linkarrow.png) no-repeat center right;
}
