.v-logo {
    margin-bottom: 3px;
}

.v-layout-outer {
    background: #ffffff url(img/background.jpg) repeat-x;
}

.v-layout-inner {
    background-color: #ffffff;
    border: 2px solid #e1e2e7;
    border-bottom: 2px solid #e1e2e7;
}

.v-layout-left {
    background-color: #f3f4f7;
    border-right: 2px solid #e1e2e7;
}

.v-spacer {
    width: 3px;
    height: 3px;
}

.v-orderedlayout-margin-top,
.v-horizontallayout-margin-top,
.v-verticallayout-margin-top {
	padding-top: 5px;
}
.v-orderedlayout-margin-right,
.v-horizontallayout-margin-right,
.v-verticallayout-margin-right {
	padding-right: 10px;
}
.v-orderedlayout-margin-bottom,
.v-horizontallayout-margin-bottom,
.v-verticallayout-margin-bottom {
	padding-bottom: 5px;
}
.v-orderedlayout-margin-left,
.v-horizontallayout-margin-left,
.v-verticallayout-margin-left {
	padding-left: 5px;
}