.v-accordion-item-caption {
        font-size: 13px;
        font-weight: normal;
        padding: 7px 0 10px 5px;
        background: #696d73 url(../../reindeermods/layout/img/toolbar-bg.png) repeat-x;
        color: #666666;
        text-shadow: 0 1px 0 #ffffff;
}
.v-accordion-item-open .v-accordion-item-caption {
	background-image: url(../../reindeermods/layout/img/toolbar-invert-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
        color: #ffffff;
        text-shadow: 0 1px 0 #555555;
}
.v-accordion-button-margin {
        margin-bottom: 10px;
}

